<h1> Chapter 1 </h1>
<ul>
  <li>Digital Ad
    <ul>
      <li>Able to reach customer when they doin relevant search on Google</li>
      <li>Each user on Youtube and many other sites</li>
      <li>Show ad on millions of sites</li>
    </ul>
  </li>
  <li>Google Ad
    <ul>
      <li>Online ad tool</li>
      <li>Benefits</li>
      <ul>
        <li>Target customer in right place, right time</li>
        <li>User has full control on budget</li>
        <li>Provides data for improvement</li>
      </ul>
    </ul>
  </li>
</ul>
<hr/>
<h1>Chapter 2</h1>
<ul>
  <li>Ad
    <ul>
      <li>Test ad
        <ul>
          <li>Clickable</li>
          <li>Shows on Google search</li>
        </ul>
      </li>
      <li>Image ad
        <ul>
          <li>Type of Displayad</li>
          <li>Show on partners' sites</li>
        </ul>
      </li>
      <li>Video ad
        <ul>
          <li>Shows on video players sites</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>Google network
    <ul>
      <li>Make up of
        <ul>
          <li>Search Network
            <ul>
              <li>Focus on Google's direct partner</li>
              <li>Focus on Google's indirect partner</li>
          </li>
          <li>Display Network</li>
        </ul>
      </li>
      <li>Places where ad appear</li>
    </ul>
  </li>
  <li>Ad formats
    <ul>
      <li>Ensure ad is sent to relevant customer</li>
      <li>Ad types
        <ul>
          <li>Text ad
            <ul>
              <li>Shows on
                <ul>
                  <li>Search Network</li>
                  <li>Search Partner</li>
                </ul>
              </li>
              <li>Includes:
                <ul>
                  <li>Descriptive headline</li>
                  <li>Website URL</li>
                  <li>Descriptive test like call to action</li>
                </ul>
              </li>
            </ul>
          </li>
          <li>Ad with extension
            <ul>
              <li>Shows on
                <ul>
                  <li>Search Network</li>
                  <li>Display network(depends on extention)</li>
                </ul>
              </li>
              <li>Ad extension provide addtion information about your ad</li>
            </ul>
          </li>
          <li>Responsive ad
            <ul>
              <li>Shows on
                <ul>
                  <li>Display network</li>
                </ul>
              </li>
              <li>Adjust ad to pages matches iwth the content</li>
              <li>Helpful for build
                <ul>
                  <li>Build awareness</li>
                  <li>Influnce consideration</li>
                  <li>Drive action</li>
                </ul>
              </li>
            </ul>
          </li>
          <li>Shopping ad
            <li>Shows on
              <ul>
                <li>Google shopping(Selected country)</li>
                <li>Google search</li>
                <li>Google search partner</li>
              </ul>
            </li>
            <li>Contain pricing informations</li>
          </li>
          <li>Image ad
            <li>Shows on
              <ul>
                <li>Search Network (search partner network only)</li>
                <li>Display network</li>
              </ul>
            </li>
          </li>
          <li>Video ad
            <ul>
              <li>Shows on
                <ul>
                  <li>Search Network (search partner network only)</li>
                  <li>Display network</li>
                </ul>
              </li>
              <li>Standalone video or video ad in another streaming video</li>
            </ul>
          </li>
          <li>App promotion ad
            <ul>
              <li>Shows on
                <ul>
                  <li>Search network</li>
                  <li>Display network</li>
                </ul>
              </li>
              <li>direct customer to app store/ app directly</li>
            </ul>
          </li>
          <li>Call-only ad
            <ul>
              <li>Shows on
                <ul>
                  <li>Search network</li>
                </ul>
              </li>
              <li>Click ad directs customer to call you</li>
            </ul>
          </li>
          <li>Rich media ad
            <ul>
              <li>Shows on
                <ul>
                  <li>Display network</li>
                </ul>
              </li>
              <li>Often include animation or other motions</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<hr/>
<h1>Chapter 3</h1>
