$arc_center_size: 200px
$arc_thickness_inner: 2px
$arc_space_inner: 5px
$arc_inner: $arc_thickness_inner + $arc_space_inner
$arc_space_center: 2px
$arc_thickness_center: 3px
$arc_center: $arc_thickness_center + $arc_space_center
$arc_space_outer: 3px
$arc_thickness_outer: 5px
$arc_outer: $arc_thickness_outer + $arc_space_outer
$arc_color: YELLOW

.rotateArcs
  width: $arc_center_size + (($arc_inner + $arc_center + $arc_outer) * 2)
  height: $arc_center_size + (($arc_inner + $arc_center + $arc_outer) * 2)
  position: relative
  img
    position: absolute
    width: $arc_center_size
    height: $arc_center_size
    top: $arc_inner + $arc_center + $arc_outer
    left: $arc_inner + $arc_center + $arc_outer
    object-fit: cover
    border-radius: 100%
  .inner
    position: absolute
    width: $arc_center_size + ($arc_space_inner * 2)
    height: $arc_center_size + ($arc_space_inner * 2)
    border: $arc_thickness_inner solid transparent
    border-left-color: $arc_color
    top: $arc_center + $arc_outer
    left: $arc_center + $arc_outer
    border-radius: 100%
    animation-duration: 4s
    animation-name: rotate-anticlock
    animation-iteration-count: infinite
    animation-timing-function: linear
  .center
    position: absolute
    width: $arc_center_size + (($arc_inner + $arc_space_center) * 2)
    height: $arc_center_size + (($arc_inner + $arc_space_center) * 2)
    border: $arc_thickness_inner solid transparent
    border-right-color: $arc_color
    top: $arc_outer
    left: $arc_outer
    border-radius: 100%
    animation-duration: 4s
    animation-name: rotate-clock
    animation-iteration-count: infinite
    animation-timing-function: linear
  .outer
    position: absolute
    width: $arc_center_size + (($arc_inner + $arc_center + $arc_space_outer) * 2)
    height: $arc_center_size + (($arc_inner + $arc_center + $arc_space_outer) * 2)
    border: $arc_thickness_inner solid transparent
    border-top-color: $arc_color
    border-radius: 100%
    animation-duration: 6s
    animation-name: rotate-anticlock
    animation-iteration-count: infinite
    animation-timing-function: linear
