//<div class="cup"><div class="drink coffee"></div></div>

/** variables **/
$stage-color: white
$cup-color: black
$cup-width: 80px
$cup-height: 80px
$border-width: $cup-width / 10
$border-radius-top: min($cup-width, $cup-height) / 5
$border-radius-btm: $border-radius-top * 2
$handle-color: $cup-color
$coffee-color: sienna
$tea-size: max($cup-width, $cup-height) * 2
$tea-margin: 6px /* barrier between cup and tea */
$tea-border-radius-delta: $tea-margin + $border-width /* adjust the border radius */
$wave-peak: 40%
$wave-trough: 33%
$font-size: 12pt
$button-width: 80px + $border-width * 2
$button-height: 30px + $border-width * 2
$anim-time: 0.16s

@keyframes pulse
    0%
      border-radius: $wave-trough
    50%
      border-radius: $wave-peak
    100%
      border-radius: $wave-trough
@keyframes spin
    from
      transform: rotate(0deg)
    to
      transform: rotate(360deg)

.cup
  width: $cup-width
  height: $cup-height
  position: relative
  border: solid $cup-color $border-width
  border-radius: $border-radius-top $border-radius-top $border-radius-btm $border-radius-btm
  .coffee
    &:before
      background-color: $coffee-color
      border: solid 1px lighten($coffee-color, 10%)
    width: $cup-width - $tea-margin * 2
    height: $cup-height - $tea-margin
    position: relative
    margin: 0 auto
    border: none
    border-radius: max(0, $border-radius-top - $tea-border-radius-delta) max(0, $border-radius-top - $tea-border-radius-delta) max(0, $border-radius-btm - $tea-border-radius-delta) max(0, $border-radius-btm - $tea-border-radius-delta)
    overflow: hidden
    &:before
      content: ''
      position: absolute
      width: $tea-size
      height: $tea-size
      left: -(($tea-size - $cup-width) + $border-width) / 2
      top: 24% /* tea fill */
      transition: top 1s ease 0s
      animation: pulse 5s infinite ease, spin 7s infinite linear
    &.empty:before
      top: 120%
    &:active:before
      top: 96%
  &:before
    content: ''
    position: absolute
    right:-($border-width + $cup-width)/2
    top: $cup-height / 20 + $border-width
    width: $cup-width / 4
    height: $cup-height / 2
    border: solid $handle-color $border-width
    border-left-width: $border-width * 1.2
    border-radius: $border-radius-top * 1.2 $border-radius-btm $border-radius-btm $border-radius-top * 1.2

  &:after
    content: ''
    position: absolute
    width: $cup-width / 5
    height: $cup-height / 3
    background-color: rgba(255,255,255,.1)
    border-radius: max(0, $border-radius-btm - $tea-border-radius-delta)
    top: $tea-margin
    right: $tea-margin
