@import 'variables'

*
  outline: none
  padding: 0
  margin: 0
body
  background: linear-gradient(0.9turn, $bg_color_main 25%, $bg_color_darken 25%, $bg_color_darken 75%, $bg_color_main 75%)
  height: $paper-height + 100px
  position: relative
  #paper
    background-color: $paper-color
    -webkit-box-shadow: $paper-shadow
    -moz-box-shadow: $paper-shadow
    box-shadow: $paper-shadow
    display: flex
    height: $paper-height
    width: $paper-width
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    
