@import 'variables'

// Shared Components
@mixin absolute-center
  bottom: 0
  left: 0
  margin: auto
  position: absolute
  right: 0
  top: 0


@mixin animation-settings
  animation-duration: 15s
  -webkit-animation-duration: 15s
  animation-timing-function: linear
  -webkit-animation-timing-function: linear
  animation-iteration-count: infinite
  -webkit-animation-iteration-count: infinite


@mixin flame
  background-color: #1AA3FF
  border-bottom-right-radius: 50% 75%
  border-bottom-left-radius: 50% 75%
  border-top-left-radius: 20% 20%
  border-top-right-radius: 20% 20%
  box-shadow: 0px 2px 2px 1px #1AA3FF
  height: 12px
  opacity: 0
  position: absolute
  width: 7px
  z-index: 1

  @include animation-settings

.iron-man-wrapper
  @include absolute-center
  height: 198px
  margin: auto
  width: 161px
  z-index: 2

  @include animation-settings
  animation-name: flyAway
  -webkit-animation-name: flyAway


.wrapper
  width: $paper-width * $paper_left_percent * .8
  height: $paper-width * $paper_left_percent * .8
  margin: $paper-width * $paper_left_percent * .1
  margin-bottom: 0
  position: relative


// Inner Components
.tony-stark
  @include absolute-center
  width: 150px

  @include animation-settings
  animation-name: disappearWhenSuited
  -webkit-animation-name: disappearWhenSuited


.shadow
  @include absolute-center
  background-color: #444
  border-radius: 50%
  bottom: -17px
  height: 30px
  top: 180px
  width: 161px
  z-index: 1
  @include animation-settings
  animation-name: shadow
  -webkit-animation-name: shadow


.arc-reactor
  @include absolute-center
  height: 17px
  top: 92px
  width: 17px

  animation-name: pulse
  -webkit-animation-name: pulse
  animation-duration: 2s
  -webkit-animation-duration: 2s
  animation-iteration-count: infinite
  -webkit-animation-iteration-count: infinite


// Flames
.flame-left-hand
  @include flame
  left: 8px
  top: 38px

  animation-name: flicker-1
  -webkit-animation-name: flicker-1


.flame-right-hand
  @include flame
  right: 8px
  top: 38px

  animation-name: flicker-2
  -webkit-animation-name: flicker-2


.flame-left-leg
  @include flame
  left: 14px
  bottom: -9px

  animation-name: flicker-3
  -webkit-animation-name: flicker-3


.flame-right-leg
  @include flame
  right: 14px
  bottom: -9px

  animation-name: flicker-4
  -webkit-animation-name: flicker-4


// Iron Man Components
.iron-man-helmet
  height: 138px
  position: absolute
  top: -2px
  z-index: 4

  @include animation-settings
  animation-name: slideDown
  -webkit-animation-name: slideDown

  img
    position: absolute
    z-index: 4



.iron-man-chest
  @include absolute-center
  height: 64px
  left: 2px
  top: 108px
  width: 118px
  z-index: 3

  @include animation-settings
  animation-name: slideUp
  -webkit-animation-name: slideUp

  img
    position: absolute
    z-index: 3



.iron-man-left-arm
  height: 41px
  left: 14px
  position: absolute
  top: 126px
  width: 43px
  z-index: 2

  @include animation-settings
  animation-name: slideRight
  -webkit-animation-name: slideRight

  img
    position: absolute
    z-index: 2



.iron-man-right-arm
  height: 41px
  right: 11px
  position: absolute
  top: 126px
  width: 43px
  z-index: 2

  @include animation-settings
  animation-name: slideLeft
  -webkit-animation-name: slideLeft

  img
    position: absolute
    z-index: 2



.iron-man-left-leg
  bottom: -11px
  height: 54px
  position: absolute
  width: 34px
  left: 44px
  transform: rotate(24deg)
  z-index: 2

  @include animation-settings
  animation-name: slideUpRotateLeft
  -webkit-animation-name: slideUpRotateLeft

  img
    position: absolute
    z-index: 2



.iron-man-right-leg
  bottom: -11px
  height: 54px
  position: absolute
  width: 34px
  right: 44px
  transform: rotate(-24deg)
  z-index: 2

  @include animation-settings
  animation-name: slideUpRotateRight
  -webkit-animation-name: slideUpRotateRight

  img
    position: absolute
    z-index: 2



// Animations
@keyframes disappearWhenSuited
  25%
    visibility: hidden

  85%
    visibility: hidden

  86%
    visibility: visible



@-webkit-keyframes disappearWhenSuited
  25%
    visibility: hidden

  85%
    visibility: hidden

  86%
    visibility: visible



@keyframes flyAway
  0%
    transform: translateY(0%)

  27%
    transform: translateY(0%)

  50%
    transform: translateY(-300%)

  80%
    transform: translateY(0%)



@-webkit-keyframes flyAway
  0%
    transform: translateY(0%)

  27%
    transform: translateY(0%)

  50%
    transform: translateY(-300%)

  80%
    transform: translateY(0%)



@keyframes pulse
  0%
    transform: scale(0.9)
    opacity: 0.8

  50%
    transform: scale(1)
    opacity: 1

  100%
    transform: scale(0.9)
    opacity: 0.8



@-webkit-keyframes pulse
  0%
    -webkit-transform: scale(0.9)
    opacity: 0.8

  50%
    -webkit-transform: scale(1)
    opacity: 1

  100%
    -webkit-transform: scale(0.9)
    opacity: 0.8



@keyframes shadow
  0%
    background-color: #444
    transform: scale(1)

  27%
    background-color: #444
    transform: scale(1)

  50%
    background-color: #F2F2F2
    transform: scale(0)

  80%
    background-color: #444
    transform: scale(1)



@-webkit-keyframes shadow
  0%
    background-color: #444
    transform: scale(1)

  27%
    background-color: #444
    transform: scale(1)

  50%
    background-color: #F2F2F2
    transform: scale(0)

  80%
    background-color: #444
    transform: scale(1)



@keyframes slideDown
  $percent: 10 + random(15)
  0%
    opacity: 0
    transform: translateY(-200%)

  10%
    opacity: 0
    transform: translateY(-200%)
  #{$percent}%
    opacity: 1
    transform: translateY(2%)
  #{$percent + 2%}
    opacity: 1
    transform: translateY(0%)

  27%
    transform: translateY(0%)

  50%
    transform: translateY(0%)

  85%
    transform: translateY(0%)

  95%
    opacity: 1

  100%
    opacity: 0
    transform: translateY(-200%)



@-webkit-keyframes slideDown
  $percent: 10 + random(15)
  0%
    opacity: 0
    transform: translateY(-200%)

  10%
    opacity: 0
    transform: translateY(-200%)

  #{$percent}%
    opacity: 1
    transform: translateY(2%)

  #{$percent + 2%}
    opacity: 1
    transform: translateY(0%)

  27%
    transform: translateY(0%)

  50%
    transform: translateY(0%)

  85%
    transform: translateY(0%)

  95%
    opacity: 1

  100%
    opacity: 0
    transform: translateY(-200%)



@keyframes slideLeft
  $percent: 10 + random(15)
  0%
    opacity: 0
    transform: translateX(200%)

  10%
    opacity: 0
    transform: translateX(200%)

  #{$percent}%
    opacity: 1
    transform: translateX(-2%)

  #{$percent + 2%}
    opacity: 1
    transform: transateX(0%)

  27%
    transform: translateX(0%)

  50%
    transform: translateY(0%)

  85%
    transform: translateY(0%)

  95%
    opacity: 1

  100%
    opacity: 0
    transform: translateX(200%)



@-webkit-keyframes slideLeft
  $percent: 10 + random(15)
  0%
    opacity: 0
    transform: translateX(200%)

  10%
    opacity: 0
    transform: translateX(200%)

  #{$percent}%
    opacity: 1
    transform: translateX(-2%)

  #{$percent + 2%}
    opacity: 1
    transform: transateX(0%)

  27%
    transform: translateX(0%)

  50%
    transform: translateY(0%)

  85%
    transform: translateY(0%)

  95%
    opacity: 1

  100%
    opacity: 0
    transform: translateX(200%)



@keyframes slideRight
  $percent: 10 + random(15)
  0%
    opacity: 0
    transform: translateX(-200%)

  10%
    opacity: 0
    transform: translateX(-200%)

  #{$percent}%
    opacity: 1
    transform: translateX(2%)

  #{$percent + 2%}
    opacity: 1
    transform: translateX(0%)

  27%
    transform: translateX(0%)

  50%
    transform: translateY(0%)

  85%
    transform: translateY(0%)

  95%
    opacity: 1

  100%
    opacity: 0
    transform: translateX(-200%)



@-webkit-keyframes slideRight
  $percent: 10 + random(15)
  0%
    opacity: 0
    transform: translateX(-200%)

  10%
    opacity: 0
    transform: translateX(-200%)

  #{$percent}%
    opacity: 1
    transform: translateX(2%)

  #{$percent + 2%}
    opacity: 1
    transform: translateX(0%)

  27%
    transform: translateX(0%)

  50%
    transform: translateY(0%)

  85%
    transform: translateY(0%)

  95%
    opacity: 1

  100%
    opacity: 0
    transform: translateX(-200%)



@keyframes slideUp
  $percent: 10 + random(15)
  0%
    opacity: 0
    transform: translateY(200%)

  10%
    opacity: 0
    transform: translateY(200%)

  #{$percent}%
    opacity: 1
    transform: translateY(-2%)

  #{$percent + 2%}
    opacity: 1
    transform: translateY(0%)

  27%
    transform: translateY(0%)

  50%
    transform: translateY(0%)

  85%
    transform: translateY(0%)

  95%
    opacity: 1

  100%
    opacity: 0
    transform: translateY(200%)



@-webkit-keyframes slideUp
  $percent: 10 + random(15)
  0%
    opacity: 0
    transform: translateY(200%)

  10%
   opacity: 0
   transform: translateY(200%)

  #{$percent}%
    opacity: 1
    transform: translateY(-2%)

  #{$percent + 2%}
    opacity: 1
    transform: translateY(0%)

  27%
    transform: translateY(0%)

  50%
    transform: translateY(0%)

  85%
    transform: translateY(0%)

  95%
    opacity: 1

  100%
    opacity: 0
    transform: translateY(200%)



@keyframes slideUpRotateLeft
  $percent: 10 + random(15)
  0%
    opacity: 0
    transform: translateY(200%) rotate(24deg)

  10%
    opacity: 0
    transform: translateY(200%) rotate(24deg)

  #{$percent}%
    opacity: 1
    transform: translateY(-2%) rotate(24deg)

  #{$percent + 2%}
    opacity: 1
    transform: translateY(0%) rotate(24deg)

  25%
    transform: translateY(0%) rotate(24deg)

  27%
    transform: translateY(0%) translateX(3px) rotate(0deg)

  80%
    transform: translateY(0%) translateX(3px) rotate(0deg)

  85%
    transform: translateY(0%) translateX(0) rotate(24deg)

  95%
    opacity: 1

  100%
    opacity: 0
    transform: translateY(200%) rotate(24deg)



@-webkit-keyframes slideUpRotateLeft
  $percent: 10 + random(15)
  0%
    opacity: 0
    transform: translateY(200%) rotate(24deg)

  10%
    opacity: 0
    transform: translateY(200%) rotate(24deg)

  #{$percent}%
    opacity: 1
    transform: translateY(-2%) rotate(24deg)

  #{$percent + 2%}
    opacity: 1
    transform: translateY(0%) rotate(24deg)

  25%
    transform: translateY(0%) rotate(24deg)

  27%
    transform: translateY(0%) translateX(3px) rotate(0deg)

  80%
    transform: translateY(0%) translateX(3px) rotate(0deg)

  85%
    transform: translateY(0%) translateX(0) rotate(24deg)

  95%
    opacity: 1

  100%
    opacity: 0
    transform: translateY(200%) rotate(24deg)



@keyframes slideUpRotateRight
  $percent: 10 + random(15)
  0%
    opacity: 0
    transform: translateY(200%) rotate(-24deg)

  10%
    opacity: 0
    transform: translateY(200%) rotate(-24deg)

  #{$percent}%
    opacity: 1
    transform: translateY(-2%) rotate(-24deg)

  #{$percent + 2%}
    opacity: 1
    transform: translateY(0%) rotate(-24deg)

  25%
    transform: translateY(0%) rotate(-24deg)

  27%
    transform: translateY(0%) translateX(-3px) rotate(0deg)

  80%
    transform: translateY(0%) translateX(-3px) rotate(0deg)

  85%
    transform: translateY(0%) translateX(0) rotate(-24deg)

  95%
    opacity: 1

  100%
    opacity: 0
    transform: translateY(200%) rotate(-24deg)



@-webkit-keyframes slideUpRotateRight
  $percent: 10 + random(15)
  0%
    opacity: 0
    transform: translateY(200%) rotate(-24deg)

  10%
    opacity: 0
    transform: translateY(200%) rotate(-24deg)

  #{$percent}%
    opacity: 1
    transform: translateY(-2%) rotate(-24deg)

  #{$percent + 2%}
    opacity: 1
    transform: translateY(0%) rotate(-24deg)

  25%
    transform: translateY(0%) rotate(-24deg)

  27%
    transform: translateY(0%) translateX(-3px) rotate(0deg)

  80%
    transform: translateY(0%) translateX(-3px) rotate(0deg)

  85%
    transform: translateY(0%) translateX(0) rotate(-24deg)

  95%
    opacity: 1

  100%
    opacity: 0
    transform: translateY(200%) rotate(-24deg)



// Flicker Animations
@for $flickerIndex from 1 through 4
  @keyframes flicker-#{$flickerIndex}
    0%
      opacicty: 0

    27%
      opacity: 0

    28%
      opacity: 1
      transform: rotate(0deg)

    @for $i from 29 through 74
      #{$i * 1%}
        transform: rotate(5deg)

      #{$i * 1% + 0.5%}
        transform: rotate(-5deg)


    @for $i from 29 through 74
      @if $i % 2 == 0
        $scale1: random(10) * 0.1 + 0.5
        $scale2: random(10) * 0.1 + 0.5
        #{$i * 1% + 0.3%}
          transform: scaleY($scale1)
        #{$i * 1% - 0.7%}
          transform: scaleY($scale2)
    80%
      transform: rotate(0deg)
      opacity: 1
    81%
      opacity: 0

  @-webkit-keyframes flicker-#{$flickerIndex}
    0%
      opacicty: 0
    27%
      opacity: 0
    28%
      opacity: 1
      transform: rotate(0deg)
    @for $i from 29 through 74
      #{$i * 1%}
        transform: rotate(5deg)
      #{$i * 1% + 0.5%}
        transform: rotate(-5deg)

    @for $i from 29 through 74
      @if $i % 2 == 0
        $scale1: random(10) * 0.1 + 0.5
        $scale2: random(10) * 0.1 + 0.5
        #{$i * 1% + 0.3%}
          transform: scaleY($scale1)
        #{$i * 1% - 0.7%}
          transform: scaleY($scale2)
    80%
      transform: rotate(0deg)
      opacity: 1
    81%
      opacity: 0
