@import 'variables'

body
  #paper
    #left
      background-color: $paper_title_bg_color
      height: $paper-height
      margin-right: 0.1%
      width: $paper-width * $paper_left_percent
      #info
        color: $paper-color
        height: $paper-height - ($paper-width * $paper_left_percent) - ($paper-width * $paper_left_percent * .55)
        padding: ($paper-width * $paper_left_percent * .05)
        padding-top: ($paper-width * $paper_left_percent * .5)
        padding-bottom: 0
        #Profile
          height: 815px
        div
          h1
            font-family: 'Lobster', cursive
            box-sizing: border-box
            width: 100%
            font-weight: BOLD
            background-color: $paper_title_bg_color_darken
            padding: 3%
          div
            padding: 3% 0
            p
              width: 100%
              font-family: 'Charmonman', cursive
              padding: 2% 0
              font-size: 23px
              color: BLACK
              em
                font-weight: 800
            i
              padding: 2% 0
        .preIndent
          text-indent: 50px
        #contactContent
          div
            display: flex
