@import 'variables'

body
  #paper
    #right
      #rightTop
        background-color: $paper_title_bg_color
        width: $paper-width * (1 - $paper_left_percent)
        height: $paper-height * .2
      #rightBottom
        padding: 2% 0
        background-color: $paper-color
        width: $paper-width * (1 - $paper_left_percent)
        height: $paper-height * .76
        .rightBottom-contentContainer
          height: $paper-height * .76 / 5
          margin: 0 2%
          width: 91%
          padding-left: 5%
          position: relative
          &:not(.noHLine)::before
            content: ''
            height: 100%
            width: 5px
            background-color: rgba(0, 0, 0, .15)
            position: absolute
            top: $rightBottom-contentContainerTitle_size
            left: ($circle_bullet_size / 2) - 3.5px
          .rightBottom-contentContainerTitle
            border-bottom: 2px solid rgba(0, 0, 0, .15)
            display: flex
            h2
              color: BLACK
              font-family: 'Great Vibes', cursive
              text-decoration: NONE
              font-weight: BOLD
              font-size: $rightBottom-contentContainerTitle_size
              font-weight: 700
              position: relative
              &::before
                content: ''
                z-index: 100
                position: absolute
                top: 25px
                left: $circle_bullet_size * -1
                border-radius: 100%
                width: $circle_bullet_size
                height: $circle_bullet_size
                background-color: $paper_title_bg_color_darken
                border: 1px SOLID $paper_title_bg_color_darken
              &::after
                background-color: $paper_title_bg_color_darken
                content: ''
                top: 1px
                display: block
                height: 3px
          .rightBottom-contentContainerContent
            padding: 2% 0
