*{margin:0;padding:0}#container{min-height:98vh;width:70vw;margin:auto}#container a{font-family:'Great Vibes', cursive;text-decoration:NONE;font-weight:BOLD;font-size:2vw}#container #notice{height:35vh;background-color:WHITE;border-radius:2%;display:flex;-webkit-box-shadow:0 0 10px rgba(0,0,0,0.5);-moz-box-shadow:0 0 10px rgba(0,0,0,0.5);box-shadow:0 0 10px rgba(0,0,0,0.5)}#container #notice div{padding:1vh 10vw;margin:1vh 1vw;height:31vh}ul{list-style:none}
