#header{padding:.5vh 0;height:4.5vh;font-size:2vw;font-family:'Great Vibes', cursive;display:flex}#header p{line-height:5vh}#header img{height:4vh;width:4vh}@media screen and (orientation: portrait){padding:.5vw 0;height:4.5vw;font-size:4vw;p{line-height:5vw;color:green}}
