@import 'variables'

body
  background-image: $theme-gradient-color
  background: none
  background-color: $bg-color
  &::before
    background: rgba(0, 0, 0, .05)
    border-radius: 0 0 ($header_height * 2.5)
    content: ' '
    height: $header_height * 9.5
    position: absolute
    left: 0
    top: 0
    -webkit-transform: skewY($bg-title-skew)
    transform: skewY($bg-title-skew)
    width: 30vw
    z-index: 1
  &::after
    background: $theme-gradient-color
    content: ' '
    height: $header_height * 20
    position: absolute
    top: $header_height * -15
    -webkit-transform: skewY($bg-title-skew)
    transform: skewY($bg-title-skew)
    width: 100%
  &>*
    position: relative
    z-index: 10


@media screen and (orientation:portrait)
  height: $header_height * 2
  width: 50vw
@media screen and (min-width: 1200px)
  body
    &::before
      right: 20vw
      top: -350px
    &::after
      border-radius: 0 0 80px
      width: 95%
