@import 'variables'

.content_list
  .content_list_title
    border-bottom: 1px solid #e6eaeb
    display: flex
    position: relative
    a
      color: BLACK
      font-family: 'Great Vibes', cursive
      text-decoration: NONE
      font-weight: BOLD
      font-size: 2vw
      &.active
        font-weight: 700
        &::after
          background-color: #3ac
          border-radius: 2px
          content: ''
          display: block
          height: 3px
  .content_list_items
    padding: 1vh 0
    display: flex
    overflow: hidden
    &:hover
      overflow: auto
    .content_list_item
      padding: 1vw
      height: 15vh
      min-height: 13vw
      display: flex
      border: 1px solid SILVER
      &.main_page
        background-image: linear-gradient(315deg, #42275a 0%, #ee9ca7 80%)
        border: none
      &.under_construction
        background-image: linear-gradient(315deg, #bdc3c7  0%, #2c3e50 80%)
        border: none
      div
        width: 10vw
        img
          object-fit: cover
          width: 9vw
          height: 9vw
          padding: 0 .5vw
      &:hover
        cursor: pointer
        .subChap
          display: inline-block
      .subChap
        display: none
