@import 'variables'

$notice_shadow: 0 0 10px rgba(0, 0, 0, .5)

*
  margin: 0
  padding: 0

#container
  min-height: (100vh - $footer_height)
  width: 70vw
  margin: auto
  a
    font-family: 'Great Vibes', cursive
    text-decoration: NONE
    font-weight: BOLD
    font-size: 2vw
  #notice
    height: 35vh
    background-color: WHITE
    border-radius: 2%
    display: flex
    -webkit-box-shadow: $notice_shadow
    -moz-box-shadow: $notice_shadow
    box-shadow: $notice_shadow
    div
      padding: 1vh 10vw
      margin: 1vh 1vw
      height: 31vh
ul
  list-style: none
