@import 'variables'

#header
  padding: ($header_height * .1) 0
  height: ($header_height * .9)
  font-size: 2vw
  font-family: 'Great Vibes', cursive
  display: flex
  p
    line-height: $header_height
  img
    height: $header_height * .8
    width: $header_height * .8

@media screen and (orientation:portrait)
  padding: ($header_height-portrait * .1) 0
  height: ($header_height-portrait * .9)
  font-size: $header_height-portrait * .8
  p
    line-height: $header_height-portrait
    color: green
