.column
  display: flex
  flex-flow: column nowrap
  justify-content: space-around
  *
    flex-grow: 1
  .flexHr
    min-height: 1.5px
    max-height: 1.5px
    width: 100%
    margin: 15px 0

.row
  display: flex
  flex-flow: row nowrap
  justify-content: space-around
  *
    flex-grow: 1
  .flexHr
    min-width: 1.5px
    max-width: 1.5px
    height: 100%
    margin: 0 15px

.flexCenter
  display: flex !important
  justify-content: center !important
  align-items: center !important
